<div class="correspondence you">
  <p><%= @user_question %></p>
  <p>-- You</p>
</div>

<div class="correspondence coach">
  <p><%= @coach_response %></p>
  <p>-- Your dear coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
